<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

//Cadastro html
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preencha seu perfil: </title>
</head>
<body>
    <div class="registroForm"><h1>Cadastro</h1></div>

    <div class="conteudo">
        <div id="nome">
            <h2 class="nome">Nome Completo</h2>
            <input class="primeiroNome" type="text" name="primeiro_nome">
            <label class="primeiroLabel">Nome:</label>
            <input class="sobrenome" type="text" name="sobre_nome">
            <label class="sobrenomeLabel">Sobrenome:</label>
        </div>

        <h2 class="nome">Empresa</h2>
        <input class="empresa" type="text" name="empresa">

        <h2 class="nome">Telefone com DDD</h2>
        <input class="codigo" type="text" name="codigo_area">
        <label class="codigo_area">DDD:</label>
        <input class="number" type="text" name="phone">
        <label class="numero-telefone">Telefone</label>

        <h2 class="nome">Sexo</h2>

        <select class="opcoes" name="assunto">
            <option disabled="disabled" selected="select">Selecione:</option>
            <option value="">Masculino</option>
            <option value="">Feminino</option>
        </select>

        <h2 class="nivel">Você é iniciante?</h2>

        <label class="radio">
            <input class="radio-one" type="radio" name="radio" checked="checked" name="">
            <span class="checkmark"></span>

            Sim
        
        
        </label>
        <label class="radio">
            <input class="radio-one" type="radio" name="radio" checked="checked" name="">
            <span class="checkmark"></span>

            Não
        
        
        </label>


    </div>



</body>
</html>

<%- include("./partials/footer") %>