<%- include("./partials/header") %>
<link rel="stylesheet" type="text/css" href="../style.css" media="screen" />
<div class="container mt-5">
    <a href="/logout" class="btn btn-danger">Sair</a>
    <h2>Bem-vindo! <%= user.email %></h2>
</div>

<%- include("./partials/footer") %>