<%- include("./partials/header") %>
<link rel="stylesheet" type="text/css" href="../style.css" media="screen" />
<div class="container mt-5">
    <h1>Bem vindo! Entrar: (ou, registre-se!)</h1>
    <a href="/login" class="btn btn-primary">Entrar</a>
    <a href="/register" class="btn btn-danger">Registrar</a>
</div>

<%- include("./partials/footer") %>